@import "tailwindcss";


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  /* --color-background: var(--background); */
  /* --color-foreground: var(--foreground); */
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
  
  --font-sans: var(--font-sans);
  --font-rose: var(--font-rose);

  --color-primary: #7209b7;
  --color-secondary: #f72585;
  --color-accent1: #ffd6ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-sans);
}

button:hover {
  opacity: 70%;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
